{% extends "base.html" %}

{% block main %}
        <div class="profile">
        {% if user_exists %}
            <div class="username"> 
                <h1>{{ username }}</h1>
                <img src="{{ user_picture }}" alt="{{ username }}'s profile picture.">
            </div>
            <div>
                {% if logname == username %}
                    <a href="edit.html">
                        <h4>Edit profile</h4>
                    </a>
                    <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                        <input type="submit" name="logout" value="Logout"/>
                    </form>
                    
                    <h4>Delete account (re-enter password to confirm)</h4>
                    <form action="javascript:alert('Account deleted.');" method="post" enctype="multipart/form-data">
                        <input type="text" name="password"/>
                        <input type="submit" name="logout" value="Delete account"/>
                    </form>
                {% endif %}
            </div>
            <div class="relationship"> 
                <span> {{ num_reviews }} {{ 'review' if num_reviews == 1 else 'reviews' }} </span>
            </div>

            {% if num_reviews <= 0 %}
                <span>This user has made no reviews.</span>
            {% else %}
                {% for review in reviews %}
                    reviews go here
                    <!--<a href="/posts/{{ post.postid }}/">
                        <img src="/uploads/{{ post.filename }}" class = "profile-post" alt = "post {{ post.postid }}">
                    </a>-->
                {% endfor %}
            {% endif %}
        
        {% else %}
            <div class="username"> 
                <h1>User {{ username }} not found.</h1>
            </div>
        {% endif %}
        </div>
{% endblock %}




        

