{% extends "base.html" %}

{% block main %}
    <div class="profile">
        <div class="username"> 
            <h1>{{ user.username }}</h1>
            <img src="/uploads/{{ user.filename }}" alt="{{ user.username }}'s profile picture.">
        </div>
        <div>
            {% if logname == username %}
                <a href="/edit/">
                    <h4>Edit profile</h4>
                </a>
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="logout" value="Logout"/>
                </form>
                    
                <h4>Delete account (re-enter password to confirm)</h4>

                <form action="javascript:alert('Account deleted.');" method="post" enctype="multipart/form-data">
                    <input type="text" name="password"/>
                    <input type="submit" name="logout" value="Delete account"/>
                </form>
            {% endif %}
        </div>
        <div class="relationship"> 
            <span> {{ num_reviews }} {{ 'review' if num_reviews == 1 else 'reviews' }} </span>
        </div>

        {% if num_reviews <= 0 %}
            <span>This user has made no reviews.</span>
        {% else %}
            {% for review in reviews %}
				<div>
					<div>Review for: {{review.address}}</div>
					<div>Overall Score: {{review.overall}} </div>
					<div>Sidewalk Quality: {{review.sidewalk_quality}} </div>
					<div>Slope: {{review.slope}} </div>
					<div>Distance From Road: {{review.road_dist}} </div>
					<div>Sidewalk: {{ 'Yes' if review.sidewalk == True else 'No' }} </div>
					<div>Public Transportation: {{ 'Yes' if review.public_trans == True else 'No' }} </div>
					<div>Content: {{ review.content }}
					<div>Created On: {{ review.created }}</div>
					<form action="/review/delete/{{ review.review_id }}" method="post" enctype="multipart/form-data">
						<input type="hidden" name="operation" value="delete"/>
						<input type="hidden" name="reviewid" value="{{ review.review_id }}"/>
						<input type="submit" name="delete" value="delete this review"/>
					</form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}




        

