<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
</head>
<body>
    <header>
        <div class="header">
            <div class="top-left" style="float:left">
                <a href="/">Insta485 Logo</a>
            </div>
            <div class="top-right" style="float:right">
                <a href="/explore/">Explore</a>
                <span> | </span>
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </div>
        </div>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>